#chat-container{
    position: fixed;
    bottom:-15px;
    left: 15;
}

#chat-btn{
    background: url('send.png') center no-repeat;
    background-size: 50%;
    height: 50px;
    width: 64px;
    border:none;
    background-color: white;
}
#chat-btn:hover {
  box-shadow:none;
  background-color: #EBD2B4;
}
#chat-btn:focus{
    box-shadow:none;
}

textarea:focus{
    box-shadow: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
    border:none;
    outline:none;
}
textarea{
    max-height:50px;
    height:50px;
    max-width: 100%;
    resize: none !important;
    font-size:small !important;
    border-style: none !important; 
    border-color: Transparent !important; 
    padding:10px !important;
}


#message-container{
    width:300px;
    overflow-y:scroll;
    height:200px;
    max-height:300px !important;
}

#admin-name{
    background-color: #EBD2B4;
}

#user-name{
    background-color: #A8EDEA;
}

.timestamp{
    font-size:xx-small !important;
}
.col-message{
    display:inline-block;
    max-width: 100%;
    min-width:5px;
}
#message p {
    padding:0.5em;
    padding-bottom:0 !important;
}
#message{
    min-height:15px;
    height:25px;
    display:inline;
}


/*chat announcement*/
.announcement {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.announcement > span {
    position: relative;
    display: inline-block;
    color:gray;
    font-size:xx-small;
}
    
.announcement > span:before,
.announcement > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: gray;
}

.announcement > span:before {
    right: 100%;
    margin-right: 15px;
}

.announcement > span:after {
    left: 100%;
    margin-left: 15px;
}

/*scrollbar*/
.scrollbar-rare-wind::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-rare-wind::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-rare-wind::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }

