* {
	font-family: 'Montserrat', sans-serif;
}

/*.navbar{
 margin: 5%;
}*/

button[id^='category_'] {
	font-size: 55px;
	border: 1px solid gray;
	margin: 2.5%;
	height: 150px;
	width: 160px;
  	color: #000;
}

#select_category {
	/*t b r l*/
	margin: 10% 10% 10% 10%;
	width: 85%;
}

#submit_btn_div {
	margin: -7% 0 0 68.5%;
}

button[id^='category_']:hover {
	color: #fff;
	font-size: 55px;
	background-color: #627ca6;

	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.active{
	background: #627ca6;
	font-size: 55px;
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#submit_btn {
	border: 1px solid #627ca6;
	padding: 6%;
	font-weight: bold;
}

#submit_btn:hover {
	color: #fff;
	padding: 6%;
	background-color: #627ca6;
}

#sec_div {
	margin-top: 5%;
}

#report_desc {
	font-size: 16px;
}

form{
	padding: 5px;
}

#confirm_btn, #submit_btn2{
	background-color: #627ca6;
}

/* MOBILE */
@media (max-width:480px)  {
	#image{
		margin-left: -5%;
	}

	#sakura_title{
		display: none;
	}

	#select_category {
		/*t b r l*/
		margin: 30% 10% 10% 20%;
		width: 61%;
	}

	button[id^='category_'] {
		margin: 2%;
		height: 80px;
		width: 90px;
	}

	button[id^='category_'] {
		font-size: 40px;
	}

	button[id^='category_']:hover {
		font-size: 40px;
		-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
	}

	.active{
		font-size: 40px;
		-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
	}

	#submit_btn_div {
		margin: -10% 0 0 49.5%;
	}

	#submit_btn {
		font-size: 10px;
		padding: 5px;
	}

	#report_sent{
		display: none;
		float: right;
		width: 50%;
		/*margin-left: -35%;*/
		margin-right: 5%;
		margin-top: 5%;
	}
}
 
/* TABLET */
@media (min-width: 481px) and (max-width: 768px) { 
	#sakura_nav{
		display: none;
	}

    #submit_btn_div {
		margin: 2% 0 0 64%;
	}

	#submit_btn {
		font-size: 13px;
		padding: 5%
	}

	#submit_btn:hover {
		padding: 6%;
	}

	#select_category {
		/*t b r l*/
		margin: 20% 10% 10% 10%;
		width: 85%;
	}

	button[id^='category_']{
		margin: 2%;
		height: 110px;
		width: 120px;
	}

	button[id^='category_']:hover {
		-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
	}

	.active{
		-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	    transform: scale(1.1);
	}

	#report_sent{
		display: none;
		float: right;
		width: 50%;
		/*margin-left: -35%;*/
		margin-right: 5%;
		margin-top: -15%;
	}
}