#shape 
{	display:none;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
	width: 100px;
    height: 100px;	
}

.loader 
{
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 15px solid #a8edea;
	border-top: 15px solid #fed6e3;
	border-radius: 50%;
	animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 