.card{
	margin-top: 0.5em;
}

.card-text{
	word-wrap:break-word;
}

#logout_btn {
	border: none;
}
.report-card{
	max-height:150px;
}

#report-container{
	overflow-y: scroll;
	min-height:150px;
	max-height:300px;
}

.report-card:hover{
	background-color: #fcf1e3;
	cursor:pointer;
	box-shadow:2px 2px 2px 2px grey;
}
#logout_btn:hover {
	color: #627ca6;
	font-weight: bold;
	background-color: transparent;
	border: 1px solid black;
}

.col{
	min-width: 250px;
	width: 310px;
	max-height: 200px;
}

#chartholder {
 	display: block;
 	margin: 0 auto;
 	position: absolute;
	height: 425px;
}

#all {
 	position: relative;
 	background: black;
}

.overall{
	height: 500px;
	min-height: 350px;
}
canvas{
	min-height: 450px;
	max-height:450px;
	min-width:448px !important;
	max-width: 650px;
	padding:5%;
	margin-top:0;
	position:absolute;
	top:2%
}
#notification-container{
	position: fixed;
	bottom: 0;
	right: 15;
}

#refresh_img {
	height: 30px !important;
	width: 30px !important;
}

.scrollbar-rare-wind::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-rare-wind::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-rare-wind::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }